@media screen and (max-width: 1000px) {
    .header {
        flex-direction: column;
        gap: 0px;
        margin-bottom: 0.625rem;
        width: 100vw;
    }

    .o-que-e-rpg {
        width: 80vw;
    }

    .response-container article {
       width: 80vw;
    }

    .footer {
        width: 100vw;
    }

}

@media screen and (max-width: 500px) {

    .header {
        width: 100vw;
        padding: 20px;
    }

    .search button {
    width: 100px;
}

    main {
        width: 100vw;
    }

    .response-container {
        text-align: left;

    }

    .footer {
        justify-content: flex-start;
        width: 100vw;
    }

    .social-midia ul {
        margin-left: 20%;
        width: 100%;
    }

    .footer .logo {
        display: none;
    }

}