body {
    font-family: var(--font-primary);
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.logo {
    width: 150px;
    height: auto;
}

.logo:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search input {
    height: 40px;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.search button {
    margin-left: 10px;
    border: 1px solid var(--color-secondary);
    border-radius: 15px;
    background-color: var(--color-tertiary);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);;
    cursor: pointer;
}

button img {
    width: 80px;
    height: auto;
}

button img:hover {
    -webkit-animation: logo-rotation 2s infinite ease-in-out;
}

@-webkit-keyframes logo-rotation {
    0% {
        -webkit-transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(360deg);
        opacity: 1;
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-secondary);
    color: var(--color-text-primary);
    position: fixed;
    bottom: 0;
    height: 20vh;
    width: 100%;
}

.social-midia ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-midia ul li {
    display: flex;
    flex-direction: row;
    width: 500px;
    gap: 10px;
}

.social-midia ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--color-text-tertiary);
}

.social-midia ul li a:hover {
    opacity: 0.7;
    transition: 0.3s ease;
}