body {
    font-family: var(--font-primary);
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 40px;
    margin-bottom: 1.625rem;
    border-bottom: 2px solid var(--color-secondary);
}

.logo a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: auto;
}

.logo img {
    width: 80px;
    height: auto;
}

.logo h1 {
    font-size: 24px;
    margin-left: 10px;
    color: var(--color-text-primary);
}

.logo:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search input {
    height: 40px;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.search button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 120px;
    margin-left: 10px;
    border: 1px solid var(--color-secondary);
    border-radius: 15px;
    background-image: url(../images/button/woodtable.png);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

button img {
    width: 80px;
    height: auto;
}

button:hover img {
    -webkit-animation: dice-rotation 2s infinite ease-in-out;
    animation: dice-rotation 2s infinite ease-in-out;
}

@-webkit-keyframes dice-rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes dice-rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 22vh;
}


.o-que-e-rpg {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 0.5rem;
    width: 60vw;
    padding: 40px;
    gap: 20px   ;
    border-radius: 20px;
    background-color: var(--color-tertiary);
}

.o-que-e-rpg .regra-de-ouro {
    color: var(--color-text-tertiary);
}

.o-que-e-rpg p {
    text-indent: 20px;
}

.response-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: justify;
    width: 100%;
}

.response-container article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50vw;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-tertiary);
}

.response-container article a {
    color: var(--color-text-primary);
    text-decoration: underline;
}

.response-container article a:hover {
    opacity: 0.7;
    transition: 0.3s ease;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-secondary);
    color: var(--color-text-primary);    
    position: fixed;
    bottom: 0;
    height: 20vh;
    width: 100%;
}

.social-midia ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 1.65rem;
}

.social-midia ul li {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    gap: 10px;
}

.social-midia ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 80px; */
    gap: 10px;
    color: var(--color-text-secondary);
}

.social-midia ul li a:hover {
    opacity: 0.7;
    transition: 0.3s ease;
}

.social-midia ul li a p:hover {
    text-decoration: underline;
}

.footer .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: auto;
}