body {
    font-family: var(--font-primary);
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 40px;
    margin: 20px;
    border-bottom: 2px solid var(--color-secondary);
}

.logo a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: auto;
}

.logo img {
    width: 80px;
    height: auto;
}

.logo h1 {
    font-size: 24px;
    margin-left: 10px;
    color: var(--color-text-primary);
}

.logo:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1000px;
    gap: 10px;
}

.search input {
    height: 40px;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.search button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 120px;
    margin-left: 10px;
    border: 1px solid var(--color-secondary);
    border-radius: 15px;
    background-color: var(--color-tertiary);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);;
    cursor: pointer;
}

button img {
    width: 60px;
    height: auto;
}

button:hover img {
    -webkit-animation: dice-rotation 2s infinite ease-in-out;
    animation: dice-rotation 2s infinite ease-in-out;
}

@-webkit-keyframes dice-rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes dice-rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

main {
    display: flex;
}

.o-que-e-rpg {
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    padding: 20px;
    border-radius: 15px;
    text-align: justify;
}

.o-que-e-rpg p {
    text-indent: 20px;
    margin: 20px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-secondary);
    color: var(--color-text-primary);
    position: static;
    position: fixed;
    bottom: 0;
    height: 20vh;
    width: 100%;
    margin-top: 40px;
    flex-grow: 1;
}

.social-midia ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 1.65rem;
}

.social-midia ul li {
    display: flex;
    flex-direction: row;
    width: 500px;
    gap: 10px;
}

.social-midia ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--color-text-tertiary);
}

.social-midia ul li a:hover {
    opacity: 0.7;
    transition: 0.3s ease;
}