@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --font-primary: 'Ubuntu', sans-serif;

    --color-primary: #E6D3B5;
    --color-secondary: #8A796A;
    --color-tertiary: #5999ff;

    --color-text-primary: #232323;
    --color-text-secondary: #8D8D99;
    --color-text-tertiary: #F8F1C2;

    --color-success: #04D361;
    --color-warning: #FBA94C;
    --color-error: #cf1928;
}

/*
#8A796A
#E6D3B5
#EDE4CA
#E6C3B5
#F8F1C2


#EEE6CA
#896C6C
#B8860B
*/